
<div class="row">
  <div class="col-xs-5">
    <button class="button button4" (click)="onClickMe()" style="color: rgb(4, 243, 4); margin-left: 40px; padding-top: 20px;">Back to \Home Page.....</button>
<button class="button button4" (click)="onClickMe()" style="color: rgb(245, 10, 10); margin-left: 40px; padding-top: 20px;">Exit.....</button>
</div>
  <div class="col-xs-7">
    <img src="https://images.squarespace-cdn.com/content/v1/5658a2c6e4b05079e4aa5b3a/1510609420428-DN22ES1T3IK1WSPFKMPJ/ke17ZwdGBToddI8pDm48kEcbshvcSGZ1-EJ1llaZXaYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKch6dBViol2SJSgKkz5MvpIopx2P8ZMmVOCNcrwgIx4IdzP9B0KncSoma1kZTayaFy/all+events.jpg?format=2500w"
    style="align-content: center; margin-left: 100px; max-height: 200px;">
  </div>
</div>
 